<%- include('includes/boilerplate.ejs') %>
    <link rel="stylesheet" href="/public/css files/product.css">
    <link rel="stylesheet" href="/public/css files/main.css">
</head>


<body>   
    <%- include('includes/navbar.ejs') %>

    <br><br><br><br><br><br><br><br>
    <hr>
    <h1>............................................Page not found Nigga !!  ..................................... </h1>
    <hr>
    <br><br><br>
</body>
</html>